<div class="container">
  <div class="row">
    <div class="col-sm-12 my-5">
      <h1 class="text-center">About</h1>
    </div>

    <div class="col-sm-12">
      <p class="text-center">
        ここでは、あらゆる謎を解くことができます。<br>
        そして、ここにある謎は全てユーザーによって作られたものです。<br>
        あなたはたくさんの謎を解くことができるだけでなく、自分で作った謎を披露することができます。<br>
        解く専でも作る専でも、その両方でも!!<br>
        <br>
        あなたの謎ライフが充実しますように...
      </p>
    </div>
  </div>

  <div class="row mt-5">
    <span>-お試し謎-</span>
  </div>

  <div class="row mt-3">
    <div class="col-sm-6">
      <div class="card">
        <%= image_tag 'no_image2.png' ,size:"200x400",class:"card-img-top" %>
        <div class="card-body">
          <p class="card-text">謎1が入ります。</p>
          <p><a class="btn btn-outline-danger toggle-btn" data-toggle="collapse" href="#answer1" role="button">答え</a></p>
          <div class="collapse" id="answer1" data-parent="#answer1">
            ここに答えを入力する
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <%= image_tag 'no_image2.png' ,size:"200x400",class:"card-img-top" %>
        <div class="card-body">
          <p class="card-text">謎2が入ります。</p>
          <p><a class="btn btn-outline-danger toggle-btn" data-toggle="collapse" href="#answer2" role="button">答え</a></p>
          <div class="collapse" id="answer2" data-parent="#answer2">
            ここに答えを入力する
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>

</div>

