<div class="container">
  <div class="row">
    <div class="col-sm-12 my-5">
      <h1 class="text-center">About</h1>
    </div>

    <div class="col-sm-12">
      <p class="text-center">
        このサイトでは、あらゆる謎を解くことができます。<br>
        このサイトにある謎は全てユーザーによって作られたものです。<br>
        <br>
        あなたの謎ライフが充実しますように...
      </p>
    </div>
  </div>

  <div class="row mt-5">
    <span>-お試し謎-</span>
  </div>
</div>