<div class="container">
  <div class="row">
    <div class="col-sm-12 border-bottom">
      <% if user_signed_in? %>
      <h4 class="text-center mb-5">
        ようこそ <u><%= current_user.name %></u> さん!!
      </h4>
      <% elsif admin_signed_in? %>
      <h4 class="text-center mb-5">
        管理人でログイン中です。<br>
        上記メニューからサイトの管理が可能です。
      </h4>
      <% else %>
      <h4 class="text-center mb-5">
        このサイトで遊ぶためにはログインが必要です。<br>
        登録がお済みでない方は新規登録をお願いします。
      </h4>
      <% end %>
    </div>

    <div class="col-sm-12 text-right mt-5 under">
      <% if user_signed_in? %>
      <h4 class="text-center">フォローユーザーの新着謎</h4>
      <% else %>
      <h4 class="text-center">新着謎</h4>
      <% end %>
        <%= link_to "もっと謎を探す ≫", mysteries_path,class:"text-dark" %>
    </div>

    <div class=" col-sm-12 text-center">
      <% if @mysteries.present? %>
      <%= render "layouts/mystery",mysteries: @mysteries %>
      <% else %>
      <h5 class="mt-5">謎はありません。</h5>
      <% end %>
    </div>

  </div>
</div>
