<div class="container">
  <div class="row">
    <h3>全ての謎 (全<%= @mysteries.count %>件 <small>-新着順-</small>)</h3>
  </div>
  <div class="row justify-content-center my-3">
    <%= render "layouts/genre",genres: @genres,mysteries: @mysteries %>
  </div>

  <%= render "layouts/mystery",mysteries: @mysteries %>

</div>